* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat";
    color: #fff;
  }
  
  html,
  body {
    height: 100vh;
    scroll-behavior: smooth;
    width: 100vw;
  }
  *::selection {
    background-color: #fff;
    color: #f3d443;
  }
  
  body::-webkit-scrollbar {
    display: block;
    width: 8px;
    background: #f3d443;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #fff;
  
    border-radius: 50px;
  }
  body {
    overflow-x: hidden;
  }
  #cursor {
    height: 20px;
    width: 20px;
    background-color: #f3d443;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    transition: all linear 0.1s;
  }
  #cursor-blur {
    height: 500px;
    width: 500px;
    background-color: rgba(150, 193, 30, 0.3);
    border-radius: 50%;
    position: fixed;
    filter: blur(80px);
    z-index: 9;
    transition: all linear 0.4s;
  }
  #nav {
    height:20%;
    width: 100vw;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 0 50px;
    gap: 4.5vmax;
    position: fixed;
    justify-content: flex-start;
    z-index: 999;
  }
  #nav img {
    height: 80px;
    width: 100px;
    border-radius: 80px;
  }
  #nav h4 {
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    font-size: 1.5vmax;
  }
  #nav h4 a{
    text-decoration: none;
  }
  video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
    position: fixed;
  }

  @media (max-width:1000px) {
    video{
      height: 50vh;
    }

    #page1{
      height: 50vh;
    
    }
    #page2{
      height: 50vh;
    
    }
    #page1 #arrow{
      height: 50px;
      width: 50px;

    }
    #about-us{
      margin-top: 160px;
      height: 20vh;
      flex-wrap: wrap;
      
    }
    #about-us img{
      height: 100%;
      width: 100%;
    }
    #about-us-in{
     width: 100%;
      display: block;
      text-align: left;
      order : 3;
      margin-top: 90px;
      margin-bottom: 20px;
    }
    #about-us-in h3{
      font-size: 30px;
      
    }
    #about-us-in p{
      font-size: 10px;
      
    }
    #cards-container{
      margin-top: 550px;
      flex-direction: column;
    }
    .card{
      width: 200px;
      height: 200px;
    }
    #page2 #green-div{
      display: flex;
      overflow: hidden;
      margin-top: 80px;
      
    }
    #page2 #green-div h4{
      font-size: 2vmax;
    }
    #page4{
      margin-top: 1080px;
    } 
    #footer{
      width: 100vh;
      height: 40%;
    }
   }
  
  #main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.39);
    display: flex;
    flex-direction: column;
  }
  
  #page1 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
    
  }
  #page1 h1 {
    font-size: 7.5vw;
    font-weight: 900;
    position: relative;
  }
  /* #page1 h1::before {
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: #000;
    top: -5px;
    left: -5px;
    -webkit-text-stroke: 1.5px #ff05e2;
    z-index: -1;
  } */
  #page1 h2 {
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  #page1 p {
    font-size: 1.2vw;
    font-weight: 500;
    width: 40%;
  }
  #page1 #arrow {
    height: 250px;
    width: 250px;
    background-color: transparent;
    border: 2px solid #f3d443;
    position: absolute;
    display: flex;
    left: -2%;
    bottom: 0%;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all ease 0.5s;
  }
  #page1 #arrow i {
    font-size: 50px;
    font-weight: 100;
  }
  #page1 #arrow:hover {
    scale: 0.4;
    background-color: #f3d443;
  }
  #page2 {
    min-height: 100vh;
    width: 100%;
    z-index: 10;
  }
  
  #scroller {
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
  }
  #scroller::-webkit-scrollbar {
    display: none;
  }
  #scroller-in {
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  #scroller h4 {
    display: inline-block;
    font-size: 80px;
    font-weight: 900;
    font-family: gilroy;
    margin-right: 20px;
    transition: all linear 0.3s;
    color: #ffffff;
    -webkit-text-stroke: 2px #ffffff;
  }
  #scroller h4:hover {
    color: #f3d443;
    -webkit-text-stroke: 2px #f3d443;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  #about-us {
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    padding: 0 50px;
    align-items: center;
    position: relative;
    z-index: 10;
    justify-content: space-around;
  }
  #about-us img {
    width: 220px;
    border-radius: 20px;
    object-fit: cover;
  }
  #about-us-in {
    width: 50%;
    text-align: center;
  }
  #about-us-in h3 {
    font-size: 54px;
    font-weight: 800;
    margin-bottom: 30px;
  }
  #about-us-in p {
    font-size: 20px;
    line-height: 26px;
  }
  
  #cards-container {
    /* background-color: red; */
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    z-index: 10;
  }
  .card {
    height: 80%;
    width: 24%;
    /* background-color: blue; */
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
  }
  #card1 {
    background-image: url('assets/survival.webp')  
  }
  #card2 {
    background-image: url('assets/riding.webp');
  }
  #card3 {
    background-image: url('assets/multiplayer.webp');
  }
  .overlay {
    height: 100%;
    width: 100%;
    background-color: #f3d443;
    padding: 30px;
    padding-top: 60px;
    opacity: 0;
    transition: all ease 0.6s;
    overflow: hidden;
  }
  .overlay h4 {
    color: #000;
    font-size: 150%;
    text-transform: uppercase;
    white-space: wrap;
    margin-bottom: 20px;
    font-weight: 800;
  }
  .overlay p {
    color: #000;
    font-size: 18px;
  }
  .card:hover .overlay {
    opacity: 1;
   }
   /*
  .card:hover {
    transform: rotate3d(-1, 1, 0, 20deg);
  } */
  
  #green-div {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
    background: linear-gradient(to left bottom, #000000, #000000);
  }
  #green-div h4 {
    width: 45%;
    line-height: 50px;
    color: #ffffff;
    text-align: center;
    font-weight: 800;
    font-size: 27px;
    text-transform: uppercase;
  }
  #green-div img {
    height: 100%;
    object-fit: cover;
    width: 14%;
  }
  
  #page3 {
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
  }
  #page3 > p {
    font-size: 35px;
    font-weight: 700;
    width: 60%;
    line-height: 45px;
    text-align: center;
  }
  
  #page3 img {
    position: absolute;
    height: 60px;
  }
  #page3 #colon1 {
    left: 15%;
    top: 25%;
  }
  #page3 #colon2 {
    bottom: 30%;
    right: 15%;
  }
  #page4 {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    background-color: #000;
  }
  .elem {
    height: 70%;
    width: 26%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
  }
  
  .elem h2 {
    height: 100%;
    width: 100%;
    background-color: #f3d443;
    display: flex;
    color: #000;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
    font-size: 2vw;
    position: absolute;
    z-index: 10;
  }
  .elem img {
    height: 100%;
    width: 140%;
    object-fit: cover;
    transition: all ease 0.5s;
    scale: 1.2;
  }
  .elem:hover h2 {
    color: #fff;
    background-color: transparent;
  }
  .elem:hover img {
    scale: 1;
  }
  #page4 h1 {
    font-size: 6.4vw;
    position: absolute;
    top: -50%;
    font-weight: 900;
    font-family: gilroy;
    color: #000;
    -webkit-text-stroke: 2px #fff;
  }
  #footer {
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom, #000000 0%, #0b0f02 80%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6.5vw;
    padding: 0 100px;
  }
  #footer > img {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
  }
  #f1 img {
    height: 100px;
    border-radius: 20px;
  }
  #f1,
  #f2,
  #f3,
  #f4 {
    width: fit-content;
    position: relative;
    margin-bottom: 20px;
    z-index: 99;
    /* background-color: red; */
  }
  #f2 h3 {
    font-size: 1.2vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 900;
    margin-bottom: 8px;
  }
  #f2 a {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    text-decoration: none;
  }
  
  #f2 i {
    font-size: 1.5vw;
    margin-right: 8px; /* Add some margin between the icon and text */
  }
  #f2 p {
    font-size: 1vw;
    white-space: nowrap;
    color: #ffffff;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
  }
  #f3 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #fffdfd;
    font-weight: 800;
    margin-bottom: 8px;
  }
  #f4 h4 {
    font-size: 1vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
  }
  
  #trailer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
    background: linear-gradient(to left bottom, #000000, #000000);

  }

  #trailer img {
    height: 100%;
    object-fit: cover;
    width: 14%;
  }

  #trailer-video-container {
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    text-align: center;
  }

  #trailer-video-container h2 {
    font-size: 2.5vmax;
    font-weight: 800;
    margin-bottom: 20px;
  }

  #trailer-video-container p {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 40px;
  }

  #trailer-video iframe {
    width: 100%;
    height: 415px;
    border: none;
  }

  iframe {
    border-radius: 20px !important;
}

.bn632-hover {
  width: 160px;
  font-size: 18px;
  font-weight: 800;
  color: #000000;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn23 {
  background-image: linear-gradient(
    to right,
    #e4d724,
    #ece79b,
    #00aec5,
    #e0ad21
  );
  box-shadow: 0 4px 15px 0 rgba(236, 240, 10, 0.75);
}

.button-container {
  position: relative;
  z-index: 10;
}